In [ ]:
import ipywidgets as wg
from IPython.display import display

In [ ]:
name = wg.Text(value='Name')
age = wg. IntSlider(discription='Age')
display(name,age)

In [ ]:
print(name.value + 'is' + str(age.value)+'year old')

In [ ]:
wg.Widget.widget_types

In [1]:
my_tuple = ()
print(my_tuple)

()

In [2]:
my_tuple = (1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [3]:
my_tuple = ('mouse',[1,2,3],[4,5,6])
print(my_tuple)

('mouse', [1, 2, 3], [4, 5, 6])

In [4]:
my_tuple = ("hello")
print(my_tuple)

hello

In [6]:
my_tuple = "hello",
print(my_tuple)

('hello',)

In [10]:
my_tuple = ('p','e','r','m','i','t')
print(my_tuple[-1])

t

In [15]:
my_tuple = ('Mohammed', 'Mohammed', 'Asma', 'Moinuddin', 'Moinuddin')
print(my_tuple.index('Mohammed'))

0

In [18]:
my_tuple = ('a','b','c','d','e')
print('f' in my_tuple)

False

In [20]:
for name in ('Mohammed','Khan'):
     print("Hello", name)

Hello Mohammed
Hello Khan

In [23]:
str = 'programiz'
print('str[1]=', str[1])

str[1]= r

In [30]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': '1st'}
print ("Name", dict['Name'])
print ("Age", dict['Age'])
print ("Class", dict['Class'])

Name Zara
Age 7
Class 1st

In [31]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School" # Add new entry

In [40]:
print ("Name",'=', dict['Name'])
print ("Age",'=', dict['Age'])
print ("Class",'=', dict['Class'])

print ('School','=', dict['School'])

Name = Zara
Age = 8
Class = First
School = DPS School

In [1]:
primes = [2,3,5,7]
for prime in primes:
    print(prime)

2
3
5
7

In [4]:
for x  in range (2):
    print(x)

0
1

In [6]:
for x in range (3,7):
    print(x)

3
4
5
6

In [8]:
for x in range (3,8,2):
    print(x)

3
5
7

In [9]:
count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

In [13]:
count = 1
while count < 8:
    print (count)
    count +=1

1
2
3
4
5
6
7

In [14]:
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

In [15]:
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9